*{
    margin: 0;
    padding: 0;
}

.contentwhite {
    width: 100%;
    height: 100%;
    background: white;
    transition: 0.4s;
    transform-origin: 100% 0;
    transform: rotateY(0deg);
}

.contentblack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000091;
    z-index: 1;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.left-menu .list-group .list-group-item {
    background: none;
    color: white;
    text-transform: uppercase;
}

.content {
    height: 100%;
    transition: linear 0.4s;
    perspective: 1000px;
}

.content .btn {
    margin: 10% 0 0 50%;
}

.left-menu {
    height: 100%;
    background: #6bc27f;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.4s;
    transform: translateX(-100%);
}
.showmenu{
    transform: translateX(20%);
}
html, body{
    height: 100%;
    overflow-x: hidden;
    background: #000;
}
.showcontentblack{
    opacity: 1;
    visibility: visible;
}
.xoay{
    transform: rotateY(-15deg);
}